# Node / Application
node_modules/
dist/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/provider-schema.json
!**/.terraform.lock.hcl

# VS Code
.vscode/

# macOS
.DS_Store

# Python
.venv/
